[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=ADHDFocus
Comment=Pomodoro-style focus timer for ADHD users
Icon=harbour-adhdfocus
Exec=harbour-adhdfocus

[X-Sailjail]
OrganizationName=harbour-adhdfocus
ApplicationName=harbour-adhdfocus
Permissions=Audio
