[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=ADHDFocus
Icon=harbour-adhdfocus
Exec=harbour-adhdfocus

[X-Sailjail]
Permissions=Audio
